<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>time</key>
			<string>11-9 10:41</string>
			<key>content</key>
			<string>图四的毛巾！</string>
			<key>nickname</key>
			<string>MANLAM_</string>
			<key>icon</key>
			<string>gyy_comment1.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11-9 10:42</string>
			<key>content</key>
			<string>后援会周边的绒绒毯子！超舒服</string>
			<key>nickname</key>
			<string>-食物终结者GyY</string>
			<key>icon</key>
			<string>gyy_head.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>time</key>
			<string>10-31 22:25</string>
			<key>content</key>
			<string>哥哥的新专辑《Antares》明天中午十二点就上线啦！重要的事情说三遍！！！明天中午十二点！！明天中午十二点！！！明天中午十二点！！！！我们会拼尽全力冲鸭！！！！哥哥你值得最好的！！！你是我们的骄傲！！！提前听了新歌真的真的真的很好听！！！！</string>
			<key>nickname</key>
			<string>安塔尔_KW</string>
			<key>icon</key>
			<string>wyf1_comment1.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>10-31 22:25</string>
			<key>content</key>
			<string>《Antares》倒计时1一天！！！我准备好了我准备好了我准备好了我准备好了我准备好了我准备好了我准备好了我准备好了！！爱您！希望成绩能让你为每个你骄傲</string>
			<key>nickname</key>
			<string>Partei</string>
			<key>icon</key>
			<string>wyf1_comment2.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>10-31 22:25</string>
			<key>content</key>
			<string>宝宝到啦，好好休息，明天万众期待的安塔尔就要来了，我们会好好爱她，绿吴亦凡的机会不多，大家一起加油啊！</string>
			<key>nickname</key>
			<string>慧_wu</string>
			<key>icon</key>
			<string>wyf1_comment3.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>time</key>
			<string>8-24 19:08</string>
			<key>content</key>
			<string>凡凡！！期待MMVA表演！！想你 么么哒</string>
			<key>nickname</key>
			<string>吴亦凡喜欢的人</string>
			<key>icon</key>
			<string>wyf2_comment1.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>8-24 19:08</string>
			<key>content</key>
			<string>要发自拍了吗！明天演出顺利啊！</string>
			<key>nickname</key>
			<string>芒果篮球你</string>
			<key>icon</key>
			<string>wyf2_comment2.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>8-24 19:08</string>
			<key>content</key>
			<string>阿凡自拍！！！终于来了哈哈哈哈哈哈 最近库存真多</string>
			<key>nickname</key>
			<string>Galaxymmm_</string>
			<key>icon</key>
			<string>wyf2_comment3.jpg</string>
		</dict>
	</array>
</array>
</plist>
