<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>nickname</key>
			<string>啵唧小丸子啊</string>
			<key>icon</key>
			<string>gyy_like1.jpg</string>
			<key>bio</key>
			<string>暂无介绍</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>资深迪士尼玩家</string>
			<key>icon</key>
			<string>gyy_like2.jpg</string>
			<key>bio</key>
			<string>macky</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>nickname</key>
			<string>蒸米鸭</string>
			<key>icon</key>
			<string>xmj_like1.jpg</string>
			<key>bio</key>
			<string>your spirit strong in me</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>LINRAN-</string>
			<key>icon</key>
			<string>xmj_like2.jpg</string>
			<key>bio</key>
			<string>暂无介绍</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>-easypeasymochisqueezy-</string>
			<key>icon</key>
			<string>xmj_like3.jpg</string>
			<key>bio</key>
			<string>Baest Song for me</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>蒲公英在柏林</string>
			<key>icon</key>
			<string>xmj_like4.jpg</string>
			<key>bio</key>
			<string>在路上，遇见更好的自己</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>肾脏汉堡</string>
			<key>icon</key>
			<string>xmj_like5.jpg</string>
			<key>bio</key>
			<string>我只是一个孤单的帅哥罢了</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>nickname</key>
			<string>WYF凡有钱6518661709</string>
			<key>icon</key>
			<string>wyf1_like1.jpg</string>
			<key>bio</key>
			<string>暂无介绍</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>DU--Haxyao</string>
			<key>icon</key>
			<string>wyf1_like2.jpg</string>
			<key>bio</key>
			<string>一个开不起vip的人</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>飞翔的筱克力_95888</string>
			<key>icon</key>
			<string>wyf1_like3.jpg</string>
			<key>bio</key>
			<string>暂无介绍</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>nickname</key>
			<string>一心暴富的猪精女孩</string>
			<key>icon</key>
			<string>lqy_like1.jpg</string>
			<key>bio</key>
			<string>要么暴富，要么暴瘦</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>倩倩女神耶</string>
			<key>icon</key>
			<string>lqy_like2.jpg</string>
			<key>bio</key>
			<string>我是未来要养一只叫妞妞的狗的人</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>贤馆</string>
			<key>icon</key>
			<string>lqy_like3.jpg</string>
			<key>bio</key>
			<string>暂无介绍</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>nickname</key>
			<string>kyoay</string>
			<key>icon</key>
			<string>wyf2_like1.jpg</string>
			<key>bio</key>
			<string>我是个不羁的小孩</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>唯心论语</string>
			<key>icon</key>
			<string>wyf2_like2.jpg</string>
			<key>bio</key>
			<string>脾气火爆 一点就着 你尊重我 我尊重你</string>
		</dict>
		<dict>
			<key>nickname</key>
			<string>20cm的ADC</string>
			<key>icon</key>
			<string>wyf2_like3.jpg</string>
			<key>bio</key>
			<string>月亮发光只不过一夜i</string>
		</dict>
	</array>
</array>
</plist>
