<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>近期的一些可爱 （但是再收到王子异的快递我就要崩溃了啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦</string>
		<key>headImg</key>
		<string>gyy_head.jpg</string>
		<key>nickname</key>
		<string>-食物终结者GyY</string>
		<key>time</key>
		<string>5 hour age from 咩咩iPhone客户端</string>
		<key>postImgs</key>
		<array>
			<string>gyy_1.jpg</string>
			<string>gyy_2.jpg</string>
			<string>gyy_3.jpg</string>
			<string>gyy_4.jpg</string>
		</array>
		<key>repostNum</key>
		<string>0</string>
		<key>commentNum</key>
		<string>2</string>
		<key>likeNum</key>
		<string>2</string>
	</dict>
	<dict>
		<key>content</key>
		<string>岛国饲主tiny家的小兔几，看起来好乖呀</string>
		<key>headImg</key>
		<string>xmj_head.jpg</string>
		<key>nickname</key>
		<string>回忆专用小马甲</string>
		<key>time</key>
		<string>11-27 05:02</string>
		<key>postImgs</key>
		<array>
			<string>xmj_1.jpg</string>
			<string>xmj_2.jpg</string>
			<string>xmj_3.jpg</string>
			<string>xmj_4.jpg</string>
			<string>xmj_5.jpg</string>
			<string>xmj_6.jpg</string>
			<string>xmj_7.jpg</string>
			<string>xmj_8.jpg</string>
		</array>
		<key>repostNum</key>
		<string>1k</string>
		<key>commentNum</key>
		<string>534</string>
		<key>likeNum</key>
		<string>3k</string>
	</dict>
	<dict>
		<key>content</key>
		<string>Antares ∈ Galaxy</string>
		<key>headImg</key>
		<string>wyf_head.jpg</string>
		<key>nickname</key>
		<string>Mr_凡先生</string>
		<key>time</key>
		<string>10-31 from 小米MIX 3 滑盖全面屏</string>
		<key>postImgs</key>
		<array>
			<string>wyf_1.jpg</string>
		</array>
		<key>repostNum</key>
		<string>394k</string>
		<key>commentNum</key>
		<string>69k</string>
		<key>likeNum</key>
		<string>275k</string>
	</dict>
	<dict>
		<key>content</key>
		<string>我今天才知道女孩子出远门要把所有化妆品都背身上</string>
		<key>headImg</key>
		<string>lqy_head.jpg</string>
		<key>nickname</key>
		<string>追风少年刘全有</string>
		<key>time</key>
		<string>11-23 02:47</string>
		<key>postImgs</key>
		<array/>
		<key>repostNum</key>
		<string>744</string>
		<key>commentNum</key>
		<string>1k</string>
		<key>likeNum</key>
		<string>3k</string>
	</dict>
	<dict>
		<key>content</key>
		<string>我来交自拍了</string>
		<key>headImg</key>
		<string>wyf_head.jpg</string>
		<key>nickname</key>
		<string>Mr_凡先生</string>
		<key>time</key>
		<string>8-24 from 小米MIX2S 翡翠艺术版</string>
		<key>postImgs</key>
		<array>
			<string>wyf_2.jpg</string>
			<string>wyf_3.jpg</string>
		</array>
		<key>repostNum</key>
		<string>1m</string>
		<key>commentNum</key>
		<string>103k</string>
		<key>likeNum</key>
		<string>435k</string>
	</dict>
</array>
</plist>
