<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array/>
	<array>
		<dict>
			<key>time</key>
			<string>11-27 06:01 | Repost 33</string>
			<key>content</key>
			<string>小光，是你嘛小光</string>
			<key>nickname</key>
			<string>陈等等的天塌脸</string>
			<key>icon</key>
			<string>xmj_repost1.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11-27 12:33</string>
			<key>content</key>
			<string>转发微博</string>
			<key>nickname</key>
			<string>S-_-</string>
			<key>icon</key>
			<string>xmj_repost2.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11-27 12:19</string>
			<key>content</key>
			<string>转发微博</string>
			<key>nickname</key>
			<string>黑色魔术君</string>
			<key>icon</key>
			<string>xmj_repost3.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>time</key>
			<string>10-31 22:30 | Repost 295k</string>
			<key>content</key>
			<string>#吴亦凡Antares# #吴亦凡首张专辑# 吴亦凡@Mr_凡先生 首张专辑《Antares》将在11月2日正式上线，准备就绪，即将登陆探索属于Galaxy的Antares</string>
			<key>nickname</key>
			<string>吴亦凡Kris全球后援会</string>
			<key>icon</key>
			<string>wyf_head.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>10-31 22:27 | Repost 229k</string>
			<key>content</key>
			<string>#吴亦凡首张专辑# 凡先生首张专辑《Antares》11月2日全球上线，一个新的开始，一起探索属于Galaxy的Antares。#吴亦凡Antares#</string>
			<key>nickname</key>
			<string>Mr_吴亦凡工作室</string>
			<key>icon</key>
			<string>wyf_head.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>10-31 22:38 | Repost 194k</string>
			<key>content</key>
			<string>#吴亦凡# #吴亦凡首张专辑# Antares∈Galaxy《Antares》即将登陆！宝宝要带我们去他的galaxy啦@吴亦凡!!!!!!!!!!!!!!!!!!!!!!!</string>
			<key>nickname</key>
			<string>被吴亦凡KO</string>
			<key>icon</key>
			<string>wyf1_repost1.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>time</key>
			<string>11-27 05:37</string>
			<key>content</key>
			<string>//@豆包鹅:不然出什么远门</string>
			<key>nickname</key>
			<string>wang和敬</string>
			<key>icon</key>
			<string>lqy_repost1.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11-27 04:19</string>
			<key>content</key>
			<string>哈哈哈哈//@豆包鹅:不然出什么远门</string>
			<key>nickname</key>
			<string>肆根腿毛儿</string>
			<key>icon</key>
			<string>lqy_repost2.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11-26 20:39</string>
			<key>content</key>
			<string>哈哈哈哈哈哈哈哈哈哈啊不然嘞//@豆包鹅:不然出什么远门</string>
			<key>nickname</key>
			<string>啾啾吴吴</string>
			<key>icon</key>
			<string>lqy_repost3.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>time</key>
			<string>8-24 19:16 | Repost 237k</string>
			<key>content</key>
			<string>有帽子有口罩，这个自拍不合格</string>
			<key>nickname</key>
			<string>今天你作业写完了吗</string>
			<key>icon</key>
			<string>wyf2_repost1.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>8-24 19:20 | Repost 212k</string>
			<key>content</key>
			<string>@Mr_凡先生 来交作业啦 期待音乐凡在MMVAs的精彩表演#吴亦凡2018MMVAs#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</string>
			<key>nickname</key>
			<string>吴亦凡Kris全球后援会</string>
			<key>icon</key>
			<string>wyf_head.jpg</string>
		</dict>
		<dict>
			<key>time</key>
			<string>8-24 19:11 | Repost 189k</string>
			<key>content</key>
			<string>自拍凡的作业大家还满意吗#吴亦凡2018MMVAs#</string>
			<key>nickname</key>
			<string>Mr_吴亦凡工作室</string>
			<key>icon</key>
			<string>wyf_head.jpg</string>
		</dict>
	</array>
</array>
</plist>
